# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\15-PycharmProject\Connet-to-Mews\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
